################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CrawlerNetMusic/music163_artists_id.csv
