################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CrawlerNetMusic/music163_artists_id.csv
/CrawlerNetMusic/artist_id.csv
/CrawlerNetMusic/chromedriver.exe
CrawlerDTRank/data_analysis.ipynb
CrawlerDTRank/data/2022-01-13.csv
CrawlerDTRank/data/2022-01-14.csv
CrawlerDTRank/data/2022-01-17.csv
CrawlerDTRank/data/2022-01-18.csv
CrawlerDTRank/data/2022-01-19.csv
