################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CrawlerNetMusic/music163_artists_id.csv
/CrawlerNetMusic/artist_id.csv
/CrawlerNetMusic/chromedriver.exe
CrawlerDTRank/data/Trading
CrawlerDTRank/data/TradingDev
CrawlerDTRank/DTRank_analysis.csv

CrawlerGBFuture/crawls/storeMyRequest/requests.seen
CrawlerGBFuture/crawls/storeMyRequest/spider.state
CrawlerDTRank/TRD_Dalyr.txt

